VITE_SUPABASE_URL=https://ozmnqrckglyizpkwgrjb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96bW5xcmNrZ2x5aXpwa3dncmpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDc0OTMsImV4cCI6MjA5MzkyMzQ5M30.pfeePtxrEzXVZJ1gnqBDlKTY4CsaXGGO0LU3Dum-klw
VITE_RESEND_API_KEY=re_hQkNQ3nS_6ZzHqfubYtWrryqAWYMxzcEY
